<!DOCTYPE html>
<html lang="ru">
  {% include head.html %}

  <body>
    {% comment %} {% include header.html %} {% endcomment %}
   {% capture classname %}{{ filmpage }}{% endcapture %}
    {% include header.html %}

    <div class="film-hero">
      <img
        src="/uploads/{{ page.index }}-b.webp"
        alt=""
        class="film-hero_img"
      />
      <div class="film-hero_overlay"></div>
      <h1 class="film-hero_title">{{ page.title }}</h1>
    </div>

    <main>
      <div class="cont film">
        <img
          src="/uploads/{{ page.index }}-p.webp"
          alt="Постер фильма {{ page.title }}"
          class="film_poster"
        />
         <h2>О фильме:</h2>
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
